body{
    background-color:bisque;
    text-align: center;
}
.flex-container{
    display: flex;
    background-color: burlywood;
    border-style: solid;
    border-color: blue;
    justify-content: center;
}
.flex-container div{
    color: cadetblue;
    font-size: 40px;
}