<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>banco de dados</title>
</head>
<body>
    <h1>Reposta do banco de dados</h1>
    <p> <%= resposta %> </p> <!--recebe a variavel resposta do servidor-->
</body>
</html>